* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}



/* box:1 */
.navbar { 
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo {
    height: 50px;
    width: 100px;
    
    
    
}
.logo {
    background-image: url("p.jpeg");
    background-size: cover;
    height: 50px;
    width: 100%;

}

.border {
    border: 2px solid transparent;
}
.border:hover {

    border: 2px solid white;

}

/* box:2 */
.nav-address{
    color: rgba(255, 255, 255, 0.719);
   
}

.add-first{
   color: rgb(128, 128, 128);
    font-size: 0.85;
    margin-left: 15px;

}
.add-second{
    color: white;
    font-size: 1rem;
    margin-left: 3px;

}

.add-icon{
    display: flex;
}

/* box:3 */

.nav-search{
    display: flex;
    width: 600px;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 4px;
}

.search-select{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input{
    width:150%;
    font-size: 17px;
    border: none;
    
    
}

.search-icon{
    width: 60px;
    background-color: rgb(215, 140, 0);
    color: black;
    font-size: 1.5rem;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    
}
.nav-search:hover{
   border: 2px solid rgba(255, 166, 0, 0.981);


}

/* box:4 & 5*/
span{
    font-size: 12px;
    color: #ffff;
}
.nav-second{
    font-size: 14px;
    color: #ffff;
    font-weight: 750;
}
/* box:6 */
.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size: 0.85rem;
}

/* Panel Box */

.panel{
    height: 40px;
    background-color: #0f1111f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #f3f3f3;


}

.panel-ops p{
    display: inline;
    margin-left: 15px;
    

}
.panel-ops{
    width: 70%;
    font-size: 1rem;
}

.panel-deals{
    font-weight: 700;
    font-size: 1rem;

}
/* =========END PANNLE================ */
/* Hero Section */
.hero-section{
    background-image: url(beauty-image.jpeg);
    height:500px;
    background-size: cover;
}

/* ==========End Hero Section==========/
/* Shop-Sextion */

.shop-section{
   display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background-color: #FBDEE2;
    
    
    
}
.box{
    
    height:400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    
   

}

.box-img{
    background-size: cover;
     height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content h2{
    text-align: center;
    font-weight: 700;

}
.box-content p:hover {
    color: rgba(255, 0, 0, 0.873);
    font-size: 1rem;
}

/* ===================================Hero Section End */
/* Footer */
.foot-panle1{
    height: 50px;
    color: white;
    text-align: center;
    background-color:#37475a;
    padding-top: 15px;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

.panel-foot{
    background-color: #222f3d;
    color: white;
    height: 310px;
    display: flex;
    justify-content: space-evenly;
}
.panel-foot p{
    margin-top: 15px;
}
 ul a{
    display: block;
    color: #dddd;
    padding: 8px;
    font-size: 0.8rem;
}

.last-part {
    background-color:#222f3d;
    height: 90px;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .logoo {
    background-image: url(p.jpeg);
    background-size: cover;
    height: 50px;
    width: 100px;

 }

 .last-section{
    background-color:#0f1111;
    height: 90px;
    font-size: 0.7rem;
    color: white;
    text-align: center;
    justify-content: center;
 }

 .pages{
    padding-top: 25px;
 }

 .copyright{
    padding-top: 5px;
 }